<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Wir benötigen Zugriff auf deine Fotobibliothek, um Videos zur Analyse auszuwählen.</string>
	<key>NSPhotoLibraryAddOnlyUsageDescription</key>
	<string>Wir benötigen Zugriff, um analysierte Videos in deiner Fotobibliothek zu speichern.</string>
</dict>
</plist>
